
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "Suite" >
    <listeners>
        <listener class-name = "listener.MyTestNGListener"/>
    </listeners>

    <test name="test1" parallel="classes">
        <groups>
            <run>
                <include name="smoke"></include>
            </run>
        </groups>
        <classes>
            <class name = "testcases.LoginPageTest">
<!--            <methods>-->
<!--                <exclude name = "verifyLoginPage_test1"/>-->
<!--                <include name="verifyLoggedIn_test2"/>-->
<!--            </methods>-->
            </class>
            <class name = "testcases.EmployeeInfoTest">
<!--            <methods>-->
<!--                <exclude name="VerifyEmpStatus"></exclude>-->
<!--            </methods>-->
            </class>
            <class name="testcases.SystemUsersTest">
<!--                <methods>-->
<!--                    <exclude name="verifyUsers"></exclude>-->
<!--                    <exclude name="AddUser"></exclude>-->
<!--                </methods>-->
            </class>
<!--            <class name="testcases.HomePageTest">-->
<!--                <methods>-->
<!--                    <exclude name="adminTabTest"></exclude>-->
<!--                    <exclude name="PIMtabTest"></exclude>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
<!--    <test name="test2">-->
<!--        <classes>-->
<!--        <class name="testcases.HomePageTest">-->
<!--        </class>-->
<!--        </classes>-->
<!--    </test>-->

</suite>